@model IEnumerable<MobileStore.Models.Category>

@{
    ViewData["Title"] = "Quản lý danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Danh sách sản phẩm</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    @if (TempData["Message"] != null)
    {
        <div id="successMessage" class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">

                            <a class="btn btn-add btn-sm" href="/admin/category/add" title="Thêm">
                                <i class="fas fa-plus"></i>
                                Thêm danh mục
                            </a>
                        </div>

                    </div>

                    <table class="table table-hover table-bordered" id="sampleTable">

                        <thead>
                            <tr>
                                <th width="10"><input type="checkbox" id="all"></th>
                                <th>  @Html.DisplayNameFor(model => model.CategoryId)</th>
                                <th>  @Html.DisplayNameFor(model => model.CategoryName)</th>
                                <th>  @Html.DisplayNameFor(model => model.CategoryImage)</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                                    <td>@item.CategoryId</td>
                                    <td>   @Html.DisplayFor(modelItem => item.CategoryName)</td>
                                    <td><img src="~/images/categories/@item.CategoryImage" alt="" width="100px;"></td>

                                    <td>
                                        <a href="category/delete?id=@item.CategoryId" class="btn btn-primary btn-sm trash" type="button" title="Xóa">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                           data-target="#ModalUP">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</main>
